<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>

<body>

    <form method="post">
        <div class="container">
            <h1>Отправить письмо Hello World на указанную почту</h1>
            <hr>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <hr>

            <button type="submit" class="registerbtn">Отправить</button>
        </div>
    </form>

</body>

</html>